/* common css start */
body{



	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;


}

/* common css end */



/* header start */

header{

	/*border: 1px solid green;*/
  	padding: 20px 0 95px;



  }


 .top{



  }


.container {

	/*border:1px solid ;*/

	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	padding-bottom: 50px;


}

.logo {
    /* border: 1px solid; */
    width: 15%;
    margin-top: 20px;
    float: left;
	


}


.logo img{

	width:100%;
	



}

.menu {

	/*border: 1px solid red; */
    width: 80%;
    float: right;
	

}


.menu ul{
	float: right;


}

.menu ul li{
	list-style: none;
	float: left;
	
	border-right: 1px solid #999797;

}


.menu ul:last-child li{




}


.menu ul li a{

    padding: 15px 6px;
    margin: 0px 13px;
    font-size: 16px;
    font-family: sans-serif;
    color: #999797 ;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.15s;
}


.menu ul li a:hover{

		color: #ff1f1f;

}


.menu ul li:last-child a{

	margin-right: 0;
	 border-right: none;

}

.menu ul button{
	     
    padding: 13px 15px;
    background-color: white;
    border-color: #db2850;
}


.menu ul button a{

	color: #fb113d;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.15s;
}

.menu ul button a:hover{

    color: #999797 ;

}


.bottom{

	background-color:#3E3E3E;

}
.container2{


	/*border:1px solid ;*/

	margin: 0 auto;
	width: 80%;
	overflow: hidden;

}


.menu2 {

	/*border:1px solid  red;*/

	width: 50%;
	/*float:left ;*/
	

}
.menu2 ul{


	/* float: right; */
    padding-left: 0;
    margin: 0;

}

.menu2 ul li{
	 list-style: none;
    float: left;
    padding: 15px 0px;
    background-color: transparent;
    transition: 0.15s;


}


.menu2 ul li a{

    border-bottom: 2px solid transparent;
    padding: 15px 4px;
    margin: -13px 22px;
    font-size: 16px;
    color: #ffff;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s;
    text-transform: uppercase;

}

.menu2 ul li a:hover{

	background-color: black;
	border-bottom: 2px solid red;

}

.menu2 ul li:first-child a{

	margin-left: 0;

}


.time{

	width: 30%;
	float: right;
}

.time input{

	margin: 15px 15px;





}


 /*header end*/

 /*general start*/

 .genaral {


}

.container {


}

.g_content {




}

h2	{


    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    





}


h3{   

	font-size: 16px;
    
    font-weight: 400;







}



li{

	 font-size: 10px;
   
    font-weight: 300;






}

 p{

	 font-size: 10px;
    
    font-weight: 100;





}







 /*genaral  end*/


























 
 /* service start */

.service{

	/*border: 1px solid green;*/

	background-color: #2B2B2B;
	padding: 50px 0;


}

.container4{

	/*border: 1px solid yellow;*/

	 
	margin:0 auto;
	width: 90%;
	overflow: hidden;

}



.sr_content{

	/*border: 1px solid black;*/

	overflow: hidden;

}


.single{

    width: 17%;
    margin-left: 1.5%;
    padding: 20px 0%;
    float: left;
    text-align: center;
}



.sr_img {

	

}

.sr_img img{
     height: 81px;
    width: 90px;
    margin: 20px 8px;


}


.sr_name{
	text-align: center;

   margin: 22px 0;

}


.sr_name h3{

	/* border: 1px solid; */


    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: justify;
    border-bottom: 2px solid #252323;
    padding-bottom: 18px;

}



.sr_name ul {
	
	text-align: justify;
    margin-left: -40px;

}


.sr_name ul li {
	list-style: none;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #999797;
 
   
}

/* service end */



/* footer start */


footer{

	background-color: #161616;

}


.container5{

	/*border:1px solid ;*/

	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	/*padding-bottom: 50px;*/




}


.f_copy{


     /* border: 1px solid orange; */
    width: 30%;
    float: left;
    /* margin: 0 5%; */
    margin: 10px 0px;


}



.f_copy p{

	font-size: 16px;
	font-weight: 400;
	color: white;





}



.f_logo{

	/*border:1px solid green;*/



	width: 20%;
	float: right;



}


.f_logo ul{

	

	float: right;




}


.f_logo ul li{

    list-style: none;
    float: left;
    margin: 10px;



}




.f_logo ul li a{

	margin: 0 10px;

	display: inline-block;
	text-decoration: none;



}
	
.f_logo ul li:last-child a{


margin-right: 0;


}


/* footer end */
